.valid {
    //background-color: lightgreen;
}

.invalid {
    background-color: #FEE;
}

.field {
    padding: 2px 8px 2px 8px;
}

.label {
    width: 100px;
    float: left;
}

.status {
    float: right;
    color: darkgray;
    overflow: hidden; 
}
.field input {
    /* float: left; */
    
}